#navbarbanner{
    color: black;
    background-color: #1d3557;
    width: 92%;
  height: auto;
  margin: 0 auto; /* Center the element horizontally */
  margin-top: 3px;
  box-sizing: border-box; /* Include padding in the element's width */
    border: 2px solid #f1faee; border-radius: 10px; padding: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.topnavp{
    margin: 0 auto; /* Center the element horizontally */
    width: max-content;
    display: inline;
    color: #f1faee;
    margin-left: 2em;
  }